<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Реестр_буровых_на_воду.Properties.Settings.Реестр_буровых_на_воду_скважин_Республики_Саха__Я_ConnectionString" connectionString="Data Source=DOMESET;Initial Catalog=&quot;Реестр буровых на воду скважин Республики Саха (Я)&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
